body{
  padding:10px;
  background: linear-gradient(yellow,blue,green);
  height: 100vh;
  display:flex;
  flex-direction: column;
}

button{
  background-color: red;
  scale: 2;
}

img{
margin:30px;
}

.hor{
display:flex;
flex-direction:row;
}

button:hover{
  background-color: white;
  color: red;
}

header{
  background-color: green;
  width: 100vw;
}

#title{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#imga{
  width: 200px;
  height: 200px;
}

.commentitem{
  background:linear-gradient(90deg,yellow,green);
}

.username{
  font-weight: bold;
  color: blue;
  font-size: 20px;
}

.popup{
    display:flex;
    flex-direction: column;
    position:fixed;
    background-color:white;
    padding:6px;
    scale:2;
}

.confirmbutton{
    background-color:green;
    scale:1;
}

.closebutton{
    background-color:red;
    width: 15px;
    height: 15px;
    color:white;
    text-align: center;
    justify-content: center;
}